div {font-family: "Revx Neue Demo"}
h3 {margin-top: 8px}
body {background: #ababb0}

/*include:

*/

.card {--notchSize: 20px;
		clip-path:
			polygon(
				0% var(--notchSize),
				var(--notchSize) 0%,
				calc(100% - var(--notchSize)) 0%,
				100% var(--notchSize),
				100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%,
				var(--notchSize) 100%,
				0% calc(100% - var(--notchSize))
				);
		padding-left: 20px;
		padding-right: 20px;
		
	}

/* .cropped {height: 20px;} */
.nav {padding-left: 20px;
	  border-bottom-color: transparent;
	  --notchSize2: 20px;
		clip-path:
			polygon(
				0% var(--notchSize2),
				var(--notchSize2) 0%,
				calc(100% - var(--notchSize2)) 0%,
				100% var(--notchSize2),
				100% calc(100% - var(--notchSize2)), calc(100% - var(--notchSize2)) 100%,
				var(--notchSize2) 100%,
				0% calc(100% - var(--notchSize2))
				);
	}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 130px;
  object-fit: scale-down;
  margin-top: 20px;
  margin-bottom: 100px
}

.headers {
}
.data-range {
    border-top-color: #000000;
    border-top-width: medium
}

.form-select {animation: 5;}